<template>
  <div v-if='productInCart' @click.stop.prevent class='cart-button'>
    <ui-button class='cart-button__button' @click='removeFromCart' text='-' />
    <span class='cart-button__count'>{{ productInCart.count }}</span>
    <ui-button class='cart-button__button' @click='addToCart' text='+' />
  </div>
  <ui-button v-else @click.stop.prevent='addToCart' text='в корзину' class='to-cart-button' />
</template>

<script setup lang='ts'>
import { productListItem } from '@stores/products'
import { computed, defineProps } from 'vue'
import { useCartStore } from '@stores/cart'
import UiButton from '@components/ui-kit/UiButton.vue'

const props = defineProps<{
  product: productListItem
}>()

const productInCart = computed(() => {
  return cartStore.getProduct(props.product.id)
})

const cartStore = useCartStore()

const addToCart = () => {
  cartStore.increaseProduct(props.product)
}

const removeFromCart = () => {
  cartStore.decreaseProduct(props.product)
}
</script>

<style scoped lang='scss'>
@import '@assets/styles/_vars.scss';

.cart-button {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  &__button {
    width: 100%;
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.to-cart-button {
  height: 30px;
}
</style>