<template>
  <router-link
    :to="{ name: 'product', params: { id: props.product.id } }"
    class='product'
  >
    <img class='product__image' :src='props.product.thumbnail' :alt='props.product.name' />
    <div class='product__info'>
      <span class='product__name'>{{ props.product.name }}</span>
      <span class='product__price'>Цена: {{ props.product.price }}</span>
      <cart-button class='product__button' :product='props.product' />
    </div>
  </router-link>
</template>

<script setup lang='ts'>
import { productListItem } from '@stores/products'
import CartButton from '@components/products/CartButton.vue'

const props = defineProps<{
  product: productListItem
}>()
</script>

<style lang='scss' scoped>
@import '@assets/styles/_vars.scss';

.product {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s;
  height: 180px;

  &:hover {
    background: $color-light-gray;
  }

  &__image {
    width: 160px;
    height: 160px;
  }

  &__name {
    font-weight: 600;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
  }
}
</style>