<template>
  <div class='categories'>
    <template v-if='categoriesStore.isLoaded'>
      <router-link
        v-if='categoriesStore.getCurrentCategory'
        :to="{ name: 'category' }"
        class='categories__back-button'
      >
        << Назад
      </router-link>
      <template v-for='category in categoriesStore.getDisplayCategories' :key='category.id'>
        <router-link
          :to="{ name: 'category', params: { slug: category.slug } }"
          class='categories__item'
          :class="{ 'categories__item_active': category.id === categoriesStore.getCurrentCategory?.id }"
        >
          <img class='categories__item-image' :src='category.thumbnail' :alt='category.name' />
          <span class='categories__item-name'>{{ category.name }}</span>
        </router-link>
      </template>
    </template>
    <loader v-else />
  </div>
</template>

<script setup lang='ts'>
import { useCategoriesStore } from '@stores/categories'
import Loader from '@components/ui-kit/Loader.vue'

const categoriesStore = useCategoriesStore()
</script>

<style scoped lang='scss'>
@import '@assets/styles/_vars.scss';

.categories {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  &__back-button {
    padding: 4px 10px;
    font-size: 14px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px;

    &:hover {
      transition: background-color 0.3s;
      background: $color-light-gray;
    }

    &_active {
      background: $color-light-gray;
    }

    &-image {
      width: 60px;
      height: 60px;
    }
  }
}
</style>