<template>
  <div v-if='alertStore.show' class='alert-modal__cover'>
    <div class='alert-modal'>
      <span class='alert-modal__title'>
        {{ alertStore.title }}
      </span>
      <span class='alert-modal__message'>
        {{ alertStore.message }}
      </span>
      <ui-button class='alert-modal__button' @click='alertStore.closeAlert' text='OK'/>
    </div>
  </div>
</template>

<script setup lang='ts'>
import { useAlertStore } from '@stores/alert'
import UiButton from '@components/ui-kit/UiButton.vue'

const alertStore = useAlertStore()
</script>

<style scoped lang='scss'>
@import '@assets/styles/_vars.scss';

.alert-modal {
  width: 200px;
  height: 200px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background: $color-light-middle-gray;
  }

  &__message {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
  }

  &__button {
    height: 30px;
  }

  &__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
</style>