<template>
  <router-link :to="{ name:'cart' }" class='cart-icon'>
    {{ cartStore.count || '' }}
  </router-link>
</template>

<script setup lang='ts'>
import { useCartStore } from '@stores/cart'

const cartStore = useCartStore()
</script>

<style scoped lang='scss'>
.cart-icon {
  width: 40px;
  height: 40px;
  background: url("@assets/images/cart.png");
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-position-y: 2px;
  font-size: 12px;
}
</style>