<template>
  <header class='header'>
    <div class='header__content'>
      <router-link :to="{ name: 'main' }" class='header__title'>Магазин</router-link>
      <cart-icon />
    </div>
  </header>
</template>

<script setup>
import CartIcon from '@components/ui-kit/CartIcon.vue'
</script>

<style scoped lang='scss'>
@import '@assets/styles/_vars.scss';

.header {
  background: $color-light-gray;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    max-width: $max-screen-width;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
  }
}
</style>