<template>
  <div class='loader'></div>
</template>

<style scoped>
.loader {
  background: rgba(0, 0, 0, 0.1) url("@assets/images/loader.svg") no-repeat center center;
  background-size: 20px 20px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
</style>