<template>
  <button class='button'>
    {{ props.text }}
  </button>
</template>

<script setup lang='ts'>
import { defineProps } from 'vue'

const props = defineProps({
  text: {
    type: String,
    default: ''
  }
})

</script>

<style scoped lang='scss'>
@import '@assets/styles/_vars.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: $color-light-middle-gray;

  &:hover {
    background-color: $color-light-dark-gray;
  }
}
</style>