<template>
  <div class='cart'>
    <h1>Корзина</h1>
    <template v-if='cartStore.getTotalItems.length'>
      <div class='cart__product' v-for='product of cartStore.getTotalItems'>
        <img class='cart__product-image' :src='product.item.thumbnail' :alt='product.item.name' />
        <div class='cart__product-info'>
          <div class='cart__product-title'>
            <span class='cart__product-name'>{{ product.item.name }}</span>
            <ui-button class='cart__product-remove' text='&times;'
                       @click='() => cartStore.removeProduct(product.item)' />
          </div>
          <div class='cart__product-price'>
            <cart-button class='cart__product-button' :product='product.item' />
            <span class='cart__product-total'>{{ product.total }}</span>
          </div>
        </div>
      </div>
      <div class='cart__total'>
        <span class='cart__total-price'>Итого: {{ cartStore.getTotalPrice }}</span>
      </div>
      <ui-button class='cart__order' text='Сделать заказ' @click='onSuccess' />
    </template>
    <span v-else>Корзина пуста</span>
  </div>
</template>

<script setup lang='ts'>
import { useCartStore } from '@stores/cart'
import CartButton from '@components/products/CartButton.vue'
import UiButton from '@components/ui-kit/UiButton.vue'
import { useAlertStore } from '@stores/alert'

const cartStore = useCartStore()
const alertStore = useAlertStore()

const onSuccess = () => {
  cartStore.clearCart()
  alertStore.showAlert({
    title: 'Успешно',
    message: 'Заказ успешно размещен'
  })
}
</script>

<style lang='scss' scoped>
@import '@assets/styles/_vars.scss';

.cart {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__product {
    border-bottom: 1px solid $color-border-gray;
    display: flex;
    gap: 20px;
    padding: 10px;

    &-image {
      width: 100px;
      height: 100px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-remove {
      background: none;
    }

    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-button {
      width: 120px;
    }

    &-price {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    &-total {
      font-weight: 600;
    }
  }

  &__order {
    width: 60%;
    height: 40px;
    font-size: 16px;
    margin: 20px auto;
  }

  &__total {
    display: flex;
    justify-content: end;
    padding: 30px 10px;
    font-weight: 600;
    font-size: 20px;
  }
}
</style>