<template>
  <div class="page-not-found">
    <h2>404</h2>
    <h3>Страница не найдена</h3>
  </div>
</template>

<style scoped>
.page-not-found {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>