<template>
  <div class='product' v-if='productsStore.isLoaded'>
    <img class='product__image' :src='productsStore.currentProduct.image' :alt='productsStore.currentProduct.name' />
    <div class='product__info'>
      <h1 class='product__name'>{{ productsStore.currentProduct.name }}</h1>
      <span class='product__price'>Цена: {{ productsStore.currentProduct.price }}</span>
      <cart-button class='product__button' :product='productsStore.currentProduct' />
      <p class='product__description' v-html='productsStore.currentProduct.description'></p>
    </div>
  </div>
  <loader v-else />
</template>

<script setup lang='ts'>
import { useProductsStore } from '@stores/products'
import { useRoute } from 'vue-router'
import { watchEffect } from 'vue'
import Loader from '@components/ui-kit/Loader.vue'
import CartButton from '@components/products/CartButton.vue'

const productsStore = useProductsStore()

const route = useRoute()

watchEffect(() => {
  productsStore.loadProduct(route.params.id as string)
})
</script>

<style lang='scss' scoped>
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  &__image {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__button {
    max-width: 150px;
    margin-bottom: 30px;
  }
}
</style>