<template>
  <h1>Товары</h1>
  <div class='products'>
    <div class='products__categories'>
      <CategoriesList />
    </div>
    <div class='products__list'>
      <ProductCard v-for='product in productsStore.products' :product='product' :key='product.id' />
      <loader v-show='!productsStore.isLoaded'/>
    </div>
  </div>
</template>

<script setup lang='ts'>
import { useProductsStore } from '@stores/products'
import { useCategoriesStore } from '@stores/categories'
import ProductCard from '@components/products/ProductCard.vue'
import CategoriesList from '@components/categories/CategoriesList.vue'
import { useRoute } from 'vue-router'
import { watchEffect } from 'vue'
import Loader from '@components/ui-kit/Loader.vue'

const productsStore = useProductsStore()
const categoriesStore = useCategoriesStore()

categoriesStore.loadCategories()

const route = useRoute()

watchEffect(() => {
  categoriesStore.setCurrentCategorySlug(route.params.slug as string)
})
watchEffect(() => {
  if (route.params.slug) {
    if (categoriesStore.getCurrentCategory) {
      productsStore.loadProducts(categoriesStore.getCurrentCategory.id)
    }
  } else {
    productsStore.loadProducts()
  }
})
</script>

<style lang='scss' scoped>
@import '@assets/styles/_vars.scss';

.products {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  flex: auto;

  &__categories {
    border-right: 1px dashed $color-border-gray;
    padding-right: 20px;
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: max-content;
    grid-gap: 20px;
  }
}
</style>