<template>
  <DefaultLayout>
    <router-view />
  </DefaultLayout>
  <AlertModal />
</template>

<script setup>
import DefaultLayout from '@layouts/Default.vue'
import AlertModal from '@components/ui-kit/AlertModal.vue'
</script>
