<template>
  <Header />
  <div class='content'>
    <slot />
  </div>
</template>

<script setup lang='ts'>
import Header from '@components/ui-kit/Header.vue'

</script>

<style scoped lang='scss'>
@import '@assets/styles/_vars.scss';

.content {
  margin: 0 auto;
  max-width: $max-screen-width;
  width: 100%;
  padding: 40px 10px;
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
}
</style>